<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
  <services>
    <service name="ServerMessenger.MessengerService">
      <host>
        <baseAddresses>
<!--          <add baseAddress = "net.Tcp://localhost:8732/"/>-->
          <add baseAddress="http://localhost:8888"/>
        </baseAddresses>
      </host>
<!--      <endpoint address="CallbackService" binding="netTcpBinding" contract="MessengerInterfaces.IMessengerService"/>-->
      <endpoint address="CallbackService" binding="wsDualHttpBinding" contract="MessengerInterfaces.IMessengerService"/>
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <serviceMetadata httpGetEnabled="true"/>
        <!--          <serviceDebug includeExceptionDetailInFaults="False" />-->
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>

<!--  <system.webServer>-->
<!--    <modules runAllManagedModulesForAllRequests="true"/>-->
<!--    <directoryBrowse enabled="false"/>-->
<!--  </system.webServer>-->
  
<!--  <system.serviceModel>-->
<!--    <behaviors>-->
<!--      <serviceBehaviors>-->
<!--        <behavior>-->
<!--          ~1~ To avoid disclosing metadata information, set the values below to false before deployment @1@-->
<!--          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>-->
<!--          ~1~ To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information @1@-->
<!--          <serviceDebug includeExceptionDetailInFaults="false"/>-->
<!--        </behavior>-->
<!--      </serviceBehaviors>-->
<!--    </behaviors>-->
<!--    <protocolMapping>-->
<!--        <add binding="wsDualHttpBinding" scheme="https" />-->
<!--    </protocolMapping>-->
<!--    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
<!--  </system.serviceModel>-->
</configuration>
